html {
  font-family: open-sans, arial;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  scroll-behavior: smooth;
}

#main-title{
  text-align: center;
  font-size: 3em;
	font-weight: bold;
	font-family: sans-serif, Arial;
	letter-spacing: 4px;
}

body {
  background-color: #f7f7f7;
  line-height: 1.5;
}

#toc {
  padding-top: 20;
  font-weight: bold;
  font-size: 1.5em;
  
}

.nav-link {
  text-align: left;
  padding-top: 20;
  padding-bottom: 20;
  margin-bottom: 5;
  margin-top: 10;
  font-size: 1.2em;
}

h1{
  text-align: left;
  font-size: 1.25em;
  margin-bottom: 2px;
}

.indent {
  margin-left: 30px;
}

.double-indent {
  margin-left: 60px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
}

code {
  font-family: Consolas, monospace;
  font-size: 14px;
  background-color: #f7f7f7;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.divider1 {
  border-bottom: 4px solid black;
}

.divider2 {
  padding-top: 1px;
  border-bottom: 3px solid black;
  margin-left: 3px;
  margin-right: -3px;
}

.divider3 {
  padding-top: 1px;
  border-bottom: 2px solid black;
  margin-left: 6px;
  margin-right: -6px;
}

.divider4{
  padding-top: 1px;
  border-bottom: 2px solid black;
  margin-left: 0px;
  margin-right: 0px;
}

.main-section {
  padding-left: 30px;
  padding-right: 30px;
}

a:visited {
  color: blue;
}

img {
  float: left;
  width: 4em; 
  height: auto;
}
